@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  margin: 0;
  background: #0e0e0e;
  font-family: playfair;
  color: white;
}

.gold{
    color: #C9A86A;
}

h2{
    font-size: 52px;
}

a{
    text-decoration: none;
    color: #111;
}

button {
  background: #C9A86A;
  color: #000;
  padding: 12px 28px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
  text-decoration: none;
}

button:hover {
  background: #b89458;
  transform: translateY(-3px);
}


/* NAVBAR */
.navbar {
  background: #0e0e0e;
  height: 80px;
  border-bottom: 0.5px solid #C9A86A;
}

.logo{
    color: #C9A86A;
    size: 24px;
}

.container {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: #C9A86A; 
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #ffffff;
}

.navbar a.login-btn {
    background-color: #C9A86A; 
    color: #090909;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: bold;
    transition: color 0.3s;     
}

.navbar a.login-btn:hover {
    color: #ffffff;             
    background-color: #C9A86A;  
}


/* HERO SECTION */
.hero {
  background-image: url('images/hero.png'); 
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  padding: 0px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  width: 45%;
  color: #C9A86A;
}

/* FEATURED SECTION */
.featured {
  background: #000;
  padding: 80px 120px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.card {
  background: #111;
  width: 300px;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

/* Login Section */
.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: url('images/login.png');
    background-size: cover;
    padding: 50px 0;
}

.login-box {
    background-color: rgba(9, 9, 9, 0.85);
    padding: 30px;
    border-radius: 10px; 
    max-width: 400px;
    width: 90%;
    color: #ffffff;
    text-align: center;
}

.login-box h2 {
    color: #C9A86A;
    margin-bottom: 20px;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: none;
}

.login-box .login-btn {
    width: 106%;
    background-color: #C9A86A;
    color: #090909;
    padding: 12px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: color 0.3s;
}

.login-box .login-btn:hover {
    color: #ffffff;
}

.login-box .signup-link {
    margin-top: 15px;
    font-size: 12px;
}

.login-box .signup-link a {
    color: #C9A86A;
    text-decoration: none;
}

.login-box .signup-link a:hover {
    text-decoration: underline;
}

/* Arham */
.s-cart {
    color: #C9A86A;
    text-align: center;
}

.mid {
    width: 1000px;
    height: 280px;
    background: #969696;
    border-radius: 6px;
    padding: 30px;
    margin: 0 auto;
}

.cart-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    align-items: flex-start;
}

.col {
    display: flex;
    flex-direction: column;  
    gap: 10px;
}

.heading {
    font-weight: bold;
    font-size: 20px;
}

.oS {
    margin:0;
}

.imgP {
    width: 50px;
    border-radius: 6px;
}

.qty-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.qty-btn {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    background: #ddd;
    transition: 0.2s;
    
    display: flex; 
    justify-content: center;    
    align-items: center;        

    line-height: 1;            
    padding: 0; 
}

.qty-btn:hover {
    background: #C9A86A;
}

#qty-value {
    font-size: 18px;
    font-weight: bold;
}

.checkout-btn:hover {
    color: #aaaaaa;
}

.cart-footer {
    margin-left: 1000px;
}


/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: #0e0e0e; 
    color: #ffffff;
    gap: 20px;
}

.footer-left .brand {
    color: #C9A86A;
    margin: 0;
    font-size: 24px;
}

.footer-left p {
    font-size: 12px;
    color: #aaaaaa;
    margin-top: 4px;
}

.footer-right p, 
.footer-right a {
    margin: 2px 0;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}

.footer-right a:hover {
    color: #C9A86A;
}

